<div class="navbar">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/books">Book List</a>
        </li>
        <li>
          <a href="/createbook">Create New Book</a>
        </li>
        <li>
          <a href="/spams">Spam emails</a>
        </li>
        <li>
          <a href="/twitpark">Twitter National Park</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="navbar-header">
  <button><a href="http://localhost:55319/books">Home</a></button>
</div> 
